/data
/backend/node_modules
/backend/download
/backend/logs
/backend/node_modules/*
/www/html/jsPlugins/node_modules
/www/html/jsPlugins/node_modules/*
/www/html/jsPlugins/.next/cache/
/www/html/jsPlugins/.next/static/webpack/*hot-update.json
www/html/jsPlugins/.next/static/webpack/*.hot-update.js
